.git
.github
.agenthub
.vscode
.env
.env.*
!.env.example
artifacts
**/.idea
**/.pytest_cache
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/node_modules
**/dist
**/target
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
pgdata
